.tambah{
	background-image: url('images/icon/tambah.png') !important;
}
.simpan{
	background-image: url('images/icon/simpan.png') !important;
}
.proses{
	background-image: url('images/icon/proses.png') !important;
}
.detil{
	background-image: url('images/icon/detil.png') !important;
}
.slip{
	background-image: url('images/icon/slip.png') !important;
}